@tailwind base;
@tailwind components;
@tailwind utilities;
body{
        overflow-y: hidden;
}
.make_scroll {
        overflow-y: scroll;
}

.make_scroll::-webkit-scrollbar{
        width: 6px;
}

.make_scroll::-webkit-scrollbar-track{
        box-shadow: inset 0 0 2px gray;
        border-radius: 10px;
}

.make_scroll::-webkit-scrollbar-thumb{
        background: rgb(238, 55, 238);
        border-radius: 10px;
}